<!--
  ~ Created by ttdevs at 16-4-14 下午3:52.
  ~ E-mail:ttdevs@gmail.com
  ~ https://github.com/ttdevs
  ~ Copyright (c) 2016 ttdevs
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ttdevs.jniutils">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>
